server:
  port:8000
mybatis:
  type-aliases-package: com.nmt.smilekay.entity
  mapper-locations: classpath:mapper/*.xml
spring:
  datasource:
    druid:
      url: jdbc:mysql://113.142.70.214:3306/smilekay?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: 123456
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      # MySQL 8.x: com.mysql.cj.jdbc.Driver
      driver-class-name: com.mysql.jdbc.Driver
  redis:
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: -1ms
        min-idle: 0
logging:
  config: classpath:logback.xml