<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmt.smilekay.mapper.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.nmt.smilekay.entity.TbUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="login_code" jdbcType="VARCHAR" property="loginCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="qq_openid" jdbcType="VARCHAR" property="qqOpenid" />
    <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid" />
    <result column="sina_openid" jdbcType="VARCHAR" property="sinaOpenid" />
    <result column="is_check" jdbcType="CHAR" property="isCheck" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="mgr_type" jdbcType="CHAR" property="mgrType" />
    <result column="pwd_security_level" jdbcType="DECIMAL" property="pwdSecurityLevel" />
    <result column="pwd_question" jdbcType="VARCHAR" property="pwdQuestion" />
    <result column="pwd_question_answer" jdbcType="VARCHAR" property="pwdQuestionAnswer" />
    <result column="pwd_question_2" jdbcType="VARCHAR" property="pwdQuestion2" />
    <result column="pwd_question_answer_2" jdbcType="VARCHAR" property="pwdQuestionAnswer2" />
    <result column="pwd_question_3" jdbcType="VARCHAR" property="pwdQuestion3" />
    <result column="pwd_question_answer_3" jdbcType="VARCHAR" property="pwdQuestionAnswer3" />
    <result column="pwd_quest_update_date" jdbcType="TIMESTAMP" property="pwdQuestUpdateDate" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="freeze_date" jdbcType="TIMESTAMP" property="freezeDate" />
    <result column="freeze_cause" jdbcType="VARCHAR" property="freezeCause" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="extend_s1" jdbcType="VARCHAR" property="extendS1" />
    <result column="extend_s2" jdbcType="VARCHAR" property="extendS2" />
  </resultMap>
</mapper>